{:duct.core/project-ns  libvtx
 :duct.core/environment :production

 :duct.module/logging {}

 ;; automatically read migrations from folder
 :duct-migrations-auto-cfg/module {}

 ;; db connection
 :duct.module/sql {:database-url "jdbc:sqlite:"}}
