{:duct.core/project-ns  libvtx
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}

 ;; automatically read migrations from folder
 :duct-migrations-auto-cfg/module {}

 ;; db connection
 :duct.module/sql {:database-url "jdbc:sqlite:libvtx.sqlite"}

 :libvtx.handler/api
 {:logger #ig/ref :duct/logger
  :db #ig/ref :duct.database/sql
  :test-database-url "jdbc:sqlite:libvtx.test.sqlite"}

 :libvtx/scheduler
 {:logger #ig/ref :duct/logger
  :db #ig/ref :duct.database/sql
  :mempool-interval #duct/env ["MEMPOOL_INTERVAL" Int :or 5]}

 :duct.router/cascading
 [#ig/ref :libvtx.handler/api]

 :duct.server.http/jetty
 {:port #duct/env ["LIBVTX_PORT" Int :or 5000]
  :handler #ig/ref :duct.core/handler
  :logger  #ig/ref :duct/logger}}
