{:duct.core/project-ns  matching-engine
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 :matching-engine.handler/welcome {:dir-path "state"}

 :matching-engine.store/file {:dir-path #duct/env ["STORE_DIR" Str :or "store"]}

 :matching-engine.handler/kafka-pipe
 {:logger #ig/ref :duct/logger
  :kafka-host #duct/env ["KAFKA_HOST" Str :or "localhost:9092"]}

 :matching-engine.handler/kafka-pipe
 {:logger #ig/ref :duct/logger
  :kafka-host #duct/env ["KAFKA_HOST" Str :or "localhost:9092"]}

 :matching-engine.handler/kafka-pipe
 {:logger #ig/ref :duct/logger
  :kafka-host #duct/env ["KAFKA_HOST" Str :or "localhost:9092"]}

 :duct.server.http/jetty
 {:port #duct/env ["MATCHING_ENGINE_PORT" Int :or 5000]
  :handler #ig/ref :matching-engine.handler/welcome
  :logger  #ig/ref :duct/logger}}
