{:duct.core/project-ns  swap-tokens
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module/web {}

 :swap-tokens.handler/web {}

 :duct.router/cascading [#ig/ref :swap-tokens.handler/web]}
