{:duct.core/project-ns  mempool
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/api {}
 :mempool.handler/welcome {}

 :mempool.handler/api
 {:logger #ig/ref :duct/logger}

 :mempool.handler/kafka-producer
 {:logger #ig/ref :duct/logger
  :kafka-host #duct/env ["KAFKA_HOST" Str :or "localhost:9092"]}

 :duct.server.http/jetty
 {:port #duct/env ["MEMPOOL_PORT" Int :or 5000]
  :handler #ig/ref :mempool.handler/api
  :logger  #ig/ref :duct/logger}}
